<div class="edit-container">

<%= simple_form_for @piano do |f| %>

  <%= f.input :name %>

  <%= f.input :price %>

  <%= f.input :brand %>

  <%= f.input :address %>

<div class="edit-form">
<%= f.submit "Edit Piano", class: "btn btn-uni"%>
</div>
<% end %>
</div>