<div class="container">

<%= simple_form_for @piano do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :brand %>
  <%= f.input :photo, as: :file %>

<%= f.submit "create a piano", class: "btn btn-primary" %>
<% end %>
</div>