<div class="new-container">

<%= simple_form_for @piano do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :brand %>
  <%= f.input :photo, as: :file %>
<div class="edit-form">
<%= f.submit "Create Piano", class: "btn btn-uni" %>
</div>
<% end %>
</div>