<div class="edit-container">

<%= simple_form_for(@piano) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :price %>
  <%= f.number_field :price %>
  <%= f.label :brand %>
  <%= f.text_field :brand %>
  <%= f.input :photo, as: :file %>

  <div id="create-btn"><%= f.submit %></div>
<% end %>
</div>