<div class="container">
    <div class="post">
        <div class="header_post">
            <%= cl_image_tag @piano.photo.key %>
        </div>
      
        <div class="body_post">
            <div class="post_content">
            <br>

                <h2><%= @piano.name %></h2>
                  <p><%= "Price : #{@piano.price} $" %></p>
                  <p><%= "Brand : #{@piano.brand}" %></p>

                <div class="container_infos">
                    <%= link_to "Edit", edit_piano_path(@piano), method: :get, class: "btn btn-uni" %>
                    <%= link_to "See other pianos", pianos_path(@piano), class:"btn btn-uni" %>
                </div>
            </div>
              <%= link_to "X", piano_path(@piano), method: :delete, class: "cross" %>
        </div>
    </div>
</div>
