<div class="show_container">
<h2><%= @piano.name %></h2>
<p><%= "Price : #{@piano.price} $" %></p>
<p><%= "Brand : #{@piano.brand}" %></p>

<div class="lien">

<%= link_to "Delete", piano_path(@piano), method: :delete, class: "btn btn-ghost" %>
<%= link_to "Edit", edit_piano_path(@piano), method: :get, class: "btn btn-ghost" %>


<%= link_to "See others pianos",
            pianos_path(@piano), class:"btn btn-ghost" %>

</div>
</div>
