<div class="show_container">
<h2><%= @piano.name %></h2>
<p><%= "Price : #{@piano.price} $" %></p>
<p><%= "Brand : #{@piano.brand}" %></p>

<div class="lien">
<%= link_to "Delete #{@piano.name}",
            piano_path(@piano),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

<%= link_to "Edit #{@piano.name}",
            edit_piano_path(@piano),
            method: :get %>

<%= link_to "See others pianos" ,
            pianos_path(@piano) %>
</div>
</div>
