<div class="show_container">
<h2><%= @piano.name %></h2>
<p><%= "Price : #{@piano.price} $" %></p>
<p><%= "Brand : #{@piano.brand}" %></p>

<div class="lien">
<%= link_to "X",
            piano_path(@piano), class:"btn btn-secondary",
            method: :delete,
            data: { confirm: "Are you sure?" } %>

<%= link_to "Edit #{@piano.name}",
            edit_piano_path(@piano), class:"btn btn-secondary",
            method: :get %>

<%= link_to "See others pianos",
            pianos_path(@piano), class:"btn btn-secondary" %>
</div>
</div>
