<div class="container">
<%= form_for(@booking) do |f| %>
  <%= f.label :piano_id %>
  <%= f.text_field :piano_id %>
  <%= f.label :user_id %>
  <%= f.text_field :user_id %>
  <%= f.label :status %>
  <%= f.text_field :status %>
  <%= f.submit %>
<% end %>
</div>
