<!DOCTYPE html>
<html>
  <head>
    <title>RentMyPiano</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="navbar">
      <%= link_to "", class: "navbar-brand" do %>
      <%= image_tag "piano.png" %>

      <ul class="ul-sign">
        <% if user_signed_in? %>
          <li class="item">
            <%= link_to "", root_path, class: "nav-link" %>
          </li>
          <li class="item">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="item">
            <%= link_to "Add your Piano", new_piano_path, class: "nav-link" %>
          </li>
          <li class="item">
            <%= link_to "All our Pianos", pianos_path, class: "nav-link" %>
          </li>
          <li class="item">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="item">
            <%= link_to "", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
        </ul>
        <% end %>
        <%= render 'shared/flashes' %>
    </div>
    <%= yield %>
  </body>
</html>
